/* The device with borders */
.smartphone {
  position: relative;
  width: 280px;
  height: 450px;
  margin: auto;
  border: 6px black solid;
  border-top-width: 40px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 280px;
  height: 405px;
  background: white;
  overflow: auto;
  overflow-x:hidden;
}

/* header section */

.headstart {
  background-color: black;
}

.heading {
  background-color: black;
}

.fa{
  margin-top: 2%;
  margin-left: 2%;
  color: gray;
}

#hors {
  float: right;
  margin-right: 2%;
  font-size: 22px;
  color: gray;
}

/* title */

.title {
  height: 40px;
  width: 100%;
  background-color: #CAD6D8;
  margin-bottom: 5%;
  display: flex;
  margin-top: 0;
    position: static;

}

.back {
  height: 40px;
  width: 20%;
  flex: 1;
}

.head {
  height: 40px;
  width: 20%;
  flex: 10;
}

.head p {
  margin-top: 2%;
  text-align: center;
  font-size: 25px;
}


/* contacts section */

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  width: 80%;

}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chip i{
  float: right;
  margin-top: 7%;
  color: blue;
}