  body {
    background-color: #cccccc;
  }

  /* The device with borders */
  .smartphone {
    position: relative;
    width: 280px;
    height: 440px;
    margin: auto;
    margin-top: 2%;
    border: 6px black solid;
    border-top-width: 40px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }

  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }

  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    position: absolute;
    background: #333;

  }

  /* The screen (or content) of the device */
  .smartphone .content {
    width: 280px;
    height: 450px;
    background: white;
  }

  /* header section */

  .headstart {
    background-color: black;
    height: 35px;
  }

  .heading {
    background-color: black;
  }

  .fa{
    margin-top: 2%;
    margin-left: 2%;
    color: white;
  }

  #percent {
      color: white;
      font-size: 22px;
  }

  #hors {
    float: right;
    margin-right: 2%;
    font-size: 22px;
    color: white;
    margin-top: 3%;
  }

  /* contact title */

.title {
  height: 40px;
  width: auto;
  background-color: #CAD6D8;
  display: flex;
  position: static;
  margin-top: 0%;

}

.back {
  height: 40px;
  width: 20%;
  flex: 1;
}

.head {
  height: 40px;
  width: 20%;
  flex: 10;
}

.head p {
  margin-top: 2%;
  text-align: center;
  font-size: 25px;
}

  /* phone section */

  #clear {
    width:18px;
    height: 35px;
  }

  input {
    width: 32%;
    height: 52px;
    font-size: 27px;

  }

  #answerstyle {
    width:98%;
    height: 105px;
    text-align: right;
    font-size: 45px;
  }

  /* footer part */

  .footstart {
    background-color: black;
    color: white;
    height: 10px;
  display: inline-block;
    }

    .triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid white;
    border-bottom: 12px solid transparent;
    margin-left: 23%;
     margin-top: 2%;
    float: left;
  }

  .square {
    height: 17px;
    width: 17px;
    background-color: white;
    margin-left: 18%;
    margin-top: 4%;
    border-radius: 5px;
    float: left;
  }

  .rectangle {
    height: 20px;
    width: 53px;
    background-color: white;
    margin-left: 17%;
     margin-top: 4%;
    float: left;
    border-radius: 8px;
  }

  .circle {
    height: 17px;
    width: 17px;
    background-color: white;
    border-radius: 50%;
    margin-left: 18%;
    margin-top: 4%;
    float: left;
  }